
section {
    display: flex;
    width: 1050px;
    height: 750px;
    margin: auto;
}

section img {
    width: 5px;
    flex-grow: 2;
    object-fit: cover;
    opacity: .9;
    transition: .6s ease;
}
section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(125%);
}